*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	background-color: lightgray;
}
.center {
	display: flex;
	flex-wrap: wrap;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0.2%;
}

header {
	padding: 20px 0;
}

.logo img {
	width: 50px;
	margin-left: 50px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
	text-align: right;
}

ul li{
	margin-right: 15px;
}

