@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #dcdcdc;

}
.header {
    position: fixed; /*elemento fluyua na página, não é afetado por outros elementos */
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

img {
    width: 40px;
    height: 40px;
}

.navbar a {
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}

.navbar a:hover {
    color: rgb(51, 145, 51);
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 40px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
}

.social-media a:hover{
    border-color: rgb(51, 145, 51);


}

.social-media a i{
    font-size: 24px;
    color: rgb(51, 145, 51);
    transform: rotate(-45deg);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
}
.home-content {
    max-width: 630px;
}
.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: rgb(51, 145, 51);
}
.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
}

.home-img img{
    right: -10%;
    position: relative;
    width: 100%;
    height: 560px;
    padding-bottom: 120px;

}

.caixita{
    width: 180px;
    height: 180px; /* 100% da altura da viewport */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 10;
    top: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caixita h1{
    margin: 0;
}
