@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #dcdcdc;

}
.header {
    position: relative; /*elemento fluyua na página, não é afetado por outros elementos */
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

img {
    width: 40px;
    height: 40px;
}

.navbar a {
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}

.navbar a:hover {
    color: rgb(51, 145, 51);
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 40px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
}

.social-media a:hover{
    border-color: rgb(51, 145, 51);


}

.social-media a i{
    font-size: 24px;
    color: rgb(51, 145, 51);
    transform: rotate(-45deg);
}
.fundo{
    max-width: 1480px;
    max-height: 650px;
}

.home {
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: auto;
}
.home-content {
    width: 700px;
    height: 400px;
}
.home-content h1 {
    font-size: 60px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: rgb(51, 145, 51);
}
.home-content p {
    font-size: 20px;
    margin: 15px 0 30px;
}
.home-img img{
    right: -10%;
    position: relative;
    width: 100%;
    height: 560px;
    padding-bottom: 120px;
}
.home-content img{
    align-items: center;
    display: flex;

    width: 250px;
    height: 280px;
}

.caixa{
    height: 500px; /* 100% da altura da viewport */
    background-color: green;
}
.caixa h1{
    text-align: center;
    padding-top: 20px;
}
.caixita1{
    width: 50%; /* Largura da caixinha */
    max-width: 200px; /* Largura máxima da caixinha */
    padding: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    left: 12%;
    margin-top: 50px;
}
.caixita1 h3{
    margin-bottom: 50px;
}
.caixita1 img{
    width: 100px;
    height: auto;
    margin-top: -50px;
}
